In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("data/diamonds.csv")

In [3]:
df1.head(11)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39
10,11,0.30,Good,J,SI1,64.0,55.0,339,4.25,4.28,2.73

In [4]:
df1.drop(columns="Unnamed: 0" , inplace=True)

In [5]:
#Seggregate the input and output variables

In [6]:
X=df1.drop(columns=['price'] , axis=1)
Y=df1["price"]

In [8]:
X
Y

0         326
1         326
2         327
3         334
4         335
         ...
53935    2757
53936    2757
53937    2757
53938    2757
53939    2757
Name: price, Length: 53940, dtype: int64

In [9]:
numerical_columns=X.select_dtypes(exclude='object').columns
categorial_columns=X.select_dtypes(include='object').columns

In [10]:
pd.DataFrame(numerical_columns)

       0
0  carat
1  depth
2  table
3      x
4      y
5      z

In [11]:
pd.DataFrame(categorial_columns)

         0
0      cut
1    color
2  clarity

In [12]:
categorial_columns

Index(['cut', 'color', 'clarity'], dtype='object')

In [13]:
categorial_columns.nunique()

3

In [14]:
df1["cut"].nunique()

5

In [17]:
df1["color"].value_counts().sort_values()

color
J     2808
I     5422
D     6775
H     8304
F     9542
E     9797
G    11292
Name: count, dtype: int64

In [19]:
cut_categories=["Fair", "Good", "Very GOOd", "Preminum", "Ideal"]
color_categories=["D", "E", "F", "G", "H", "I", "J"]
clarity_categories=["I1","S12", "SI1","VS2","VS1","VVS2","VVS1","IF"]

In [21]:
#create pipeline

In [25]:
from sklearn.impute import SimpleImputer #missing values
from sklearn.preprocessing import StandardScaler # feature scaling  (numerical datatypes)
from sklearn.preprocessing import OrdinalEncoder # to rank the categorical variables
#pipeline
from sklearn.pipeline import Pipeline # to club everything together
from sklearn.compose import ColumnTransformer  #begin the work

In [ ]:
num_pipeline=Pipeline(
    setps=[
        ("imputer",SimpleImputer(strategy="median")),
        ("scaler", StandardScaler())
    ]
)

cat_pipeline=Pipeline(
    steps=[
        ("imputer", SimpleImputer(strategy="most_frequent")),
        ("OrdinalEncoder",OrdinalEncoder(categories=[cut_categories , color_categories , clarity_categories])),
        ('scaler', StandardScaler())
    ]
)


preprocessor=ColumnTransformer(
    [
        ('num_pipeline', num_pipeline , numerical_columns),
        ('cat_pipeline', cat_pipeline , categorial_columns)
    ]
)